@{
    ViewBag.Title = "expert";
}

<h2>expert</h2>
<div>שאל את המומחה</div>
<form action="/Home/question" method="post">
    <input type="text" name="txtname" placeholder="שם*" />
    <br><br>
    <input type="Email" name="txtmail" placeholder="מייל*" />
    <br><br>
    <div>*שדות חובה</div>
    <input id="sendque" type="Submit" value="שלח">
    <div>תוכן השאלה</div>
    <texterea name="valuequestion" rows="10" col="50"></texterea>
</form>

<form action="/Home/index" method="post">
    <input type="submit" value="חזרה לדף הבית"  id="back"/>
    </form>