@{
    ViewBag.Title = "home";
}
<!DOCTYPE html SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/css/home.css" />
</head>
    <body>
        <div class="header">
            <img id="header1" src="~/picture/home/header1.png" alt="TMURA">
            <img id="header2" src="~/picture/home/header2.png" alt="TMURA">
            <img id="logo" src="~/picture/home/logo.gif" alt="TMURA">
        </div>
       <table class="center"> 
           <tr>
               <td>
                 <a href="~/Home/lessons">
                     <img id="kodesh" src="~/picture/home/kodesh.png" />
                 </a>
               </td>
               <td>
                 <a href="~/Home/site">
                     <img id="site" src="~/picture/home/site.png" />
                 </a>
               </td>
               <td>
                    <a href="~/Home/galery">
                        <img id="galary" src="~/picture/home/galary.png" />
                    </a>
               </td>
           </tr>
            <tr>
                <td>  
                    <a href="~/Home/workssuggest">
                        <img id="search4job" src="~/picture/home/search4job.png" /> 
                    </a>
                </td>
                <td>
                    <a href="~/Home/test">
                        <img id="notes_tests" src="~/picture/home/notes_tests.png"/> 
                    </a>
                </td>
            </tr>
       </table>
        <marquee id="updates" direction="right" behavior="scroll" scrolldelay="10"> Updates</marquee>
        <marquee id="bless" direction="right" behavior="scroll" scrolldelay="10">מזל לאדר דיין להולדת האחיין מזל טוב ל....   </marquee>

        <div class="footer">
            <img id="footer" src="~/picture/home/footer.jpg" alt="links"/>
        </div> 
    </body>
</html>