@{
    ViewBag.Title = "lessons";
}

<h2>lessons</h2>
<div> מיין לפי:</div>
<select name="mion">
    <option value="name">שם</option>
    <option value="date">תאריך</option>
    <option value="issue">נושא</option>
</select>

<div>חיפוש הרצאה:</div>
<input type="text" name="lessonsearch"/>

<form action="/Home/lessons" method="post">
    <input type="submit" value="העלאת הרצאה חדשה"  id="nlesson"/>
</form>   

<form action="/Home/index" method="post">
    <input type="submit" value="חזרה לדף הבית"  id="back"/>
</form>   
<div>להורדת הרצאות</div>
@Html.ActionLink("פסח","pesach")
<br />
@Html.ActionLink("שבועות","shavot")
<br />
@Html.ActionLink("ראש השנה","roshashana")
<br />
