body {
    background-image: url("../picture/site/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height:100%;
    font-family: 'FbSpoiler';
}
.header {
    display: inline-flex;
    margin-bottom: 10%;
}
#header1, #header2 {
   width:50%;
   height:15%;
}
#header2 {
    margin-left: -25px;
}
#logo {
    width: 45%;
    position: absolute;
    left: 30%;
    top: 220px;
}
ul.menu{
    width: 90%;
    height: 80px;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 370px;
    display: inline-flex;
    list-style-type: none;
}
ul.menu img {
    height: 70px;
}
ul.menu img:hover {
    opacity: 0.7;
}
.title {
    position: absolute;
    top: 480px;
    right: 40%;   
}
.center {
     margin: 5%;
     margin-top: 15%;
     box-shadow: 0px 3px 12px 3px #CCCCCC;
    width:90%;
    height: 80%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #6f89a3;
    color: white;
    font-size: 18px;
    font-weight: 900;  
}
ul.links {
    text-align: left;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;

}
.titles {
    color: #95131f;
    font-size: 16px;
    text-decoration:underline;
    padding-right: 75px;
    padding-left: 48px;
}
ul.links li:not(:first-child)
{
    border-top: white 1px solid;
}
ul.links a {
    position: relative;
    top: 20px;
    color: white;
    font-family: cursive;
    text-decoration: none;
    padding-left: 70px;
}
p.linktitle {
    position: relative;
    top: 20px;
}

p.shortdec {
    text-align: right;
   position: relative;
    top: -14px;
    padding-right: 70px;
}

#footer{
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


