.header {
    display: inline-flex;
    margin-bottom: 10%;
}
#header1, #header2 {
   width:50%;
   height:15%;
}
#header2 {
    margin-left: -42px;
}
#header3 {
    width: 43%;
    height: 15%;
    margin-left: -572px;
    margin-top: 65px;
}

#logo {
    width: 35%;
    position: absolute;
    left: 15%;
    top: 275px;
}
.center {
    display:table-row-group;
     margin: 5%;
}
.messages {
    width: 33%;
    height: 20%;
}
#msg {
    width: 100%;
}

.categories{
    width: 66%;
    display: inline;
    margin: 2%;
}

.categories a img {
    width: 31%;
    margin-left:-35px;
    margin-bottom: -12%;
}
img#search4job {
    margin-left: 12%;
    }
.bless {
    height: 40px;
    display:table-row;
}
#bless {
    width: 100%;
}

#footer{
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
