          
<!DOCTYPE html SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="~/css/galary.css"/>
    </head>
        <div class= "header">    
            <img id="header1" src="~/picture/galery/header1.gif" alt="TMURA"/>
            <img id="header2" src="~/picture/galery/header2.gif" alt="TMURA"/>
            <img id="logo" src="~/picture/galery/logo.gif" alt="TMURA"/>
            <img id="menu" src="~/picture/galery/menu.gif" alt="MENU"/>
        </div>
        <table class="center"> 
            <tr>
                <td  class="add_pic">
                    <a href="">
                        <img id="add_pic" src="~/picture/galery/add_pic.gif" />
                    </a>
                </td> 
                <td>
                    <a href="">
                        <img id="forth" src="~/picture/galery/2.gif" /> 
                    </a>
                </td>
                <td>
                    <a href="">
                        <img id="third" src="~/picture/galery/1.gif" />
                    </a>
                </td>
                <td>
                    <a href="">
                        <img id="second" src="~/picture/galery/2.gif"/> 
                    </a>'
                </td>
                <td>
                    <a href="">
                         <img id="first" src="~/picture/galery/1.gif" /> 
                    </a>
                </td> 
            </tr>
            <tr>
                <td class= "albums">
                    <a href="">
                        <img id="album1" src="~/picture/galery/album1.gif"/> 
                    </a>
                    <a href="">
                        <img id="album2" src="~/picture/galery/album1.gif"/>
                    </a>
                    <a href="">
                        <img id="album3" src="~/picture/galery/album1.gif"/> 
                    </a>
                </td> 
                <td class= "viewpic">
                    <img id="pic" src="~/picture/galery/pic.gif"/>
                </td>
            </tr>
        </table>
        <div class="footer">
            <img id="footer" src="~/picture/galery/footer.jpg" alt="links"/>
        </div>
    </body>
</html>