                
<h2>workssuggest</h2>


<form method="post" action="/Home/workssuggest3">
    <input type="submit" value="קישורים לאתרים" id="link"/>
</form>
<form method="post" action="/Home/workssuggest4">
    <input type="submit" value="שאל את המומחה" id="link"/>
</form>
<form method="post" action="/Home/work">
    <input type="submit" value="הצעות עבודה" id="link"/>
</form>