
@{
    ViewBag.Title = "galery";
}

<h2>galery</h2>

<form action="/Home/galery2" method="post">
    <input type="submit" value="שנה א"  id="y1"/>
</form>

<form action="/Home/galery2" method="post">
    <input type="submit" value="שנה ב"  id="y2"/>
</form>

<form action="/Home/galery2" method="post">
    <input type="submit" value="שנה ג"  id="y3"/>
</form>

<form action="/Home/galery2" method="post">
    <input type="submit" value="שנה ד"  id="y4"/>
</form>
  
<form action="/Home/index" method="post">
    <input type="submit" value="חזרה לדף הבית"  id="back"/>
</form>      